footer {
    background-color: #410101;
    background-image: linear-gradient(to right, #410101, #0B0614);
    padding: 10px;
    text-align: center;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 50px;
}

.conteiner{
    min-height: 100dvh;
    display:grid;
    grid-template-rows: auto 1fr auto;

}

.conteinerboxes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 10px;
}

.conteinerbox{
    width: 100%;
    justify-content: center;
    border-right: 1px solid white;
    border-left: 1px solid white;
    letter-spacing: 2px;
}

.listapaginas{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}